.swiper {
  margin-right: 20px;
  width: 100%;
  height: avto;
 position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  max-height: 240px;
  border-radius: 10px;
  border: 2px solid #331B3B;
}

.swiper-slide img {
  padding: 5px;
  display: block;
  width: 100%;
  max-height: 30px;
  object-fit: contain;
}
/* .swiper-slide p {
  margin-bottom: 12px;
  padding: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.64px;
 
  
} */
 
.swiper-button-prev:after, 
.swiper-rtl, 
.swiper-button-next:after {
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    background-color: #c5c1c6;
    padding: 6px 10px 6px 10px;
  }
.swiper-button-prev,
.swiper-button-next {
  color: #331B3B;
}



.education-title {
  font-weight: 700;
font-size: 14px;
line-height: 146%;
 }

.education-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 146%;
  overflow: auto;

 }

 .education-wrapper {
  padding: 90px 0 97px 140px; 
  display: flex;
  gap: 50px;
 
}
.education-item {
  display: flex;
  flex-direction: column;
}

