.header__contact {
  display: flex;
  gap: 20px;
}
.contact-active:hover {
  background-image: url(../../assets/Ellipse-active.svg);
  background-repeat: no-repeat;
  background-position: center;

}

@media (max-width: 961px) {
  .header__contact {
    display: none;
  }
  
}
