.course__wrapper {
  display: flex;
  justify-content: center;
}
.course-box {   
 margin: 56px 0 56px 0;
 padding: 20px;
 max-width: 800px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 4px solid #FDC221;
  border-radius: 10px;

 
}
.course-text {
  /* margin-top: 14px; */
  font-size: 24px;
font-weight: 600;
line-height: 150%;
letter-spacing: -0.87px;
}
/* .firstconsultation-text {
  margin-top: 14px;
  font-size: 37px;
font-weight: 700;
line-height: 99.8%;
letter-spacing: -0.87px;
} */

.course-text-bold {
  font-size: 32px;
}
.brend {
  margin-top: 28px;
  font-size: 37px;
font-weight: 700;
line-height: 99.8%;
letter-spacing: -0.87px;
}
@media (max-width: 961px) {
  .course-box { 
    margin: 26px 0 26px 0; 
    padding:10px;
    border: 3px solid #FDC221;    
  }
  .course-text {
    /* margin-top: 14px; */
    font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.87px;
  }
  .course-text-bold {
    font-size: 32px;
  }
}

@media (max-width: 541px) {
  .course-box { 
    border: 2px solid #FDC221; 
  max-width: 800px;;
   padding: 6px 6px 10px 6px;
   margin: 0px 0 24px 0;   
  }
  .course-text {
      font-size: 18px; 
  }  
  .course-text-bold {
    font-size: 23px;
    line-height: 28px;
  }
  .firstconsultation-text {
    margin-top: 14px;
    font-size: 24px;
}
.brend {
  margin-top: 0px;
  font-size: 25px;
}
}

