.logo__title {
  /* font-family: Playfair Display; */
 font-size: 24px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 1.5px;
 color: #331B3B;
}
/* .logo__img {
 width: 100%;
 height: 100%;
 object-fit: cover;
} */
/*  */