.education {
  margin-bottom: 178px;

}
.education__box {
  display: flex;
  gap: 50px;
}
.education__box-left {
  width: 60%;

/* scrollbar-color: black white;  */
} 


.education__box-right {
  width: 40%;
}
.education__inner {
  margin-top: 20px;
  display: flex;
  height: 270px;
overflow-y: scroll;
/* padding-right: 20px; */
}
.education__inner::-webkit-scrollbar-thumb {
  background: #888; /* Элегантный цвет */
  border-radius: 10px; /* Скругленные уголки для стильного вида */
}
.education-wrapper {
  padding: 0px 0 97px 0px; 
  display: flex;
  flex-direction: column;
  gap: 4px;

 
}
.education-item {
  display: flex;
  gap: 10px;
  position: relative;
  flex-direction: column;

}
.education-title {
  font-weight: 600;
font-size: 24px;
line-height: 146%;
 }

 .education-title-h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 146%;
  text-align: center;
 }

.education-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 146%; 
 }
 

 .prctice__info {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
 }

 @media (max-width: 541px) {
  .education {
    margin-bottom: 28px;  
  }
  .education__box {    
    flex-direction: column;
    gap: 18px;
  }
  .education__box-left {
    width: 100%;
  }  
  
  .education__box-right {
    width: 100%;
  }
  .education__inner {
    margin-top: 14px;
    display: flex;
    height: 270px;
  overflow-y: scroll;
 
  }
  .education-wrapper {
    padding: 0px 0 97px 0px; 
    gap: 10px;   
  }
  .education-title-h2 {  
    font-size: 24px;   
   }
   .education-title {
    font-size: 18px;
  line-height: 116%;
   }
   .education-text {  
    font-size: 16px;
  
   }
 }

