.hero {
  margin-bottom: 106px;
}
.hero__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.brend-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}



@media (max-width: 541px) {
  .hero {
    margin-bottom: 100px;
  }
 
}