.science {
  margin-bottom: 178px;
  background-image: url(/education-fone.svg);
  background-repeat: no-repeat;
  position: relative;
}
.science__title {
  margin-bottom: 20px;
  position: relative;
  margin-bottom: 85px;
 
}
.science__title-title {
  font-weight: 700;
  font-size: calc((28px + (48 - 28) * ((100vw - 300px) / (1300 - 300))));
  line-height: 106%;
  letter-spacing: -0.01em;
  text-align: left;
}
.science__title-title::before {
 
  content: "";
  position: absolute;
  top: 92px;
  left: 76px;
  display: block;
  width: 148px;
  height: 8px;
  background-color: #FDC221;
  z-index: -5;
}
.science__inner {

  display: flex;
  gap: 43px;
  padding-left: 155px;
}

.science__controls {
  position: absolute;
  display: flex;
  gap: 15px;
  bottom: 10px;
  left: 50px;
 }
 .science__contriol-next {
    background-image: url(/src/assets/controller-next.svg);
 }
 .science__contriol-prev {
  background-image: url(/src/assets/controller-previev.svg);

}
 .science__contriol-next,
 .science__contriol-prev {
  width: 40px;
  height: 40px;
  padding: 0px;
  border: none;
  /* background: none; */
  background-repeat: no-repeat;
  background-position: center;
 }
 .science__contriol-next:hover,
 .science__contriol-prev:hover {
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  background-color: #dfdce0;
  padding: 6px 10px 6px 10px;
 }


 .science__box {
  width: 419px;
 height: 365px;
 padding: 24px 14px 35px 14px;
 background-color: white;
 border-radius: 10px;
  
 }
 .science__slide {
  display: flex;
  flex-direction: column;
  gap: 28px;
 }
 .science__image {
  max-height: 164px;
 }

.science__text {
  font-weight: 700;
font-size: 24px;
line-height: 146%;
}
@media (max-width: 961px) {
  .science {
    margin-bottom: 92px; 
  }

}

@media (max-width: 541px) {
 
  .science__title {
    margin-bottom: 28px;   
  }
 
  .science__inner {  
    gap: 43px;
    padding-left: 0px;
  }
  .science__controls {
    gap: 10px;
    bottom: -67px;
    left: 0px;
   }
   .science__contriol-next,
   .science__contriol-prev {
    width: 30px;
    /* height: 40px; */
  
 
   }
  
}
