.hero-image {
  max-width: 550px;
  align-items: baseline;
}

.hero-info {
  margin-top: 56px;
  width: 50%;
}

.hero-subtitle {
  margin-bottom: 22px; 
  margin-top: 14px;

position: relative;
font-size: 32px;
font-weight: 300;
line-height: 99.8%;
letter-spacing: -0.87px;
}
.hero-subtitle::before {
 
  content: "";
  position: absolute;
  top: 23px;
  left: -35px;
  display: block;
  width: 291px;
  height: 20px;
  background-color: #FDC221;
  z-index: -5;
}


.hero__info-button {
  margin-top: 32px;
  display: inline-block; 
  padding: 22px 49px;
  font-size: 17px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.34px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #331B3B;
  border-radius: 10px;
}


@media (max-width: 961px) {
  .hero-title {
    font-size: 40px;
   line-height: 47px;
 letter-spacing: -1.2px;   
} 

  .hero-image {
      left: 234px;
    top: 32px;
    height: 690px;
  }
}

@media (max-width: 541px) {

  .hero-image {
      left: 77px;
    top: 32px;
    height: 690px;
  }
  .hero-title {
    font-size: 32px;
   line-height: 39px;
 letter-spacing: -0.6px;
}
}