.firstconsultation-box {
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.firstconsultation-text {
  margin-top: 14px;
  font-size: 37px;
font-weight: 700;
line-height: 99.8%;
letter-spacing: -0.87px;
}

@media (max-width: 961px) {
  .firstconsultation-text {
  
    font-size: 32px;
 
  }
}
@media (max-width: 541px) {
.brend {
  margin-top: 0px;
  font-size: 25px;
}
.firstconsultation-box {
  margin-bottom: 0px; 
}
}

