* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #331B3B;
 
}
.body-fone {
  position: relative;
  overflow: hidden;
  max-width: 1400px;

}
.body_fixed {
  max-width: 1400px;
  overflow: hidden;
}
.body-fone::after {
 
  content: "";
  position: absolute;
  top: -120px;
right: 0px;
  display: block;
  width: 867.54px;
  height: 820px;
  background-image: url(/public/fone-hero.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: local;
  z-index: -10;

  /* background-size: 100%; */
}

/* font-family: 'Playfair Display', serif; */

/* font-family: 'Roboto', sans-serif; */

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px 0 50px;

 }

 .section {
  margin-bottom: 20px;
}
.section-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.heading-h1 {
  font-size: 56px;
 font-weight: 700;
 line-height: 100%;
 letter-spacing: -0.01em; 
}

.heading-h2 {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 48px;
  line-height: 106%;
  letter-spacing: -0.01em;
  text-align: center;
}



@media (max-width: 541px) {
  .hero {
    margin-bottom: 100px;
  }
 
}


 .title {

 text-align: center;
 font-size: 48px;
font-weight: 700;
line-height: 106.3%;
letter-spacing: -0.48px;

}
.text,
.text-slider {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.64px;
  
}


@media (max-width: 961px) {
  .container {
    width: 100%;
    padding: 0 15px 0 15px;
    position: relative;
   }
   .title {
     font-size: 45px;
    line-height: 59px;
    letter-spacing: -1.35px;
    }
    .text {
          font-size: 18px;
      line-height: 23px;
      letter-spacing: -0.54px;
   }
}


@media (max-width: 541px) {
  .container {
    padding: 0 12px 0 13px;
   }
   .title {
    font-size: 30px;
   line-height: 39px;
   letter-spacing: -0.9px;
   }
}
