
.hero__image {
 /* position: relative; */
  /* background-image: url(../../../assets/fone-hero.svg);
  background-repeat: no-repeat;
 background-size: 100%;
 width: 728px;
  height: 685px;
  padding-left: 16px;  */
}

.hero__image-foto {
  /* position: absolute; */
  /* left: 311px;
  top: 0px; */
  max-width: 550px;
  align-items: baseline;
  /* max-height: 750px; */

}
/* .header__mask-img-foto1 {
  position: absolute;
  left: 120px;
  top: 0px;
  height: 900px;
} */


@media (max-width: 961px) {

  .hero__image-foto {
      left: 234px;
    top: 32px;
    height: 690px;
  }
}



@media (max-width: 541px) {

  .hero__image-foto {
      left: 77px;
    top: 32px;
    height: 690px;
  }
}