.aboutme {
  margin-bottom: 86px;
}
.aboutme-title {
  font-weight: 700;
  font-size: calc((28px + (48 - 28) * ((100vw - 300px) / (1300 - 300))));
  line-height: 106%;
  letter-spacing: -0.01em;
  text-align: left;
}
.aboutme-text {
  margin-bottom: 10px;
  font-weight: 400;
font-size: 17px;
line-height: 146%;
letter-spacing: 0.02em;
color: rgba(51, 27, 59, 0.66);
}
.bold {
  margin-bottom: 10px;

line-height: 146%;
letter-spacing: 0.02em;
color: rgba(51, 27, 59, 0.66);
  font-weight: 600;
  font-size: 20px;
}
.aboutme-wrapper {
  align-items: center;
  /* flex-wrap: wrap; */
}
.aboutme__text-wrapper {
 margin-top: 24px;
}
.aboutme-image {
  /* flex: 1 1 40rem; */
  max-width: 670px;
  align-items: baseline;
  width: 100%;
}
.aboutme-info {
  /* flex: 1 1 40rem; */
  /* margin-top: 140px; */
  width: 50%;
}
@media (max-width: 961px) {
  .aboutme-image {
    max-width: 550px;
    width: 100%;  
  } 
  .aboutme-info {
    margin-top: 32px;
    width: 100%;
  }

}
@media (max-width: 961px) {
  .aboutme-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutme-info {
    margin-top: 0px;
    width: 100%;
  }
}

@media (max-width: 541px) {
  .aboutme {
    margin-bottom: 28px;
  }

  .aboutme-image {
    max-width: 370px;  
  } 


}
