.aboutme {
  margin-bottom: 86px;
}
.aboutme-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 106%;
  letter-spacing: -0.01em;
  text-align: left;
}
.aboutme-text {
  margin-bottom: 10px;
  font-weight: 400;
font-size: 17px;
line-height: 146%;
letter-spacing: 0.02em;
color: rgba(51, 27, 59, 0.66);
}
.bold {
  margin-bottom: 10px;

line-height: 146%;
letter-spacing: 0.02em;
color: rgba(51, 27, 59, 0.66);
  font-weight: 600;
  font-size: 20px;
}

.aboutme__text-wrapper {
 margin-top: 24px;
}
.aboutme-image {
  max-width: 670px;
  align-items: baseline;
}
.aboutme-info {
  margin-top: 140px;
  width: 50%;
}

@media (max-width: 541px) {
  .aboutme {
    margin-bottom: 28px;
  }
  .aboutme-wrapper {
    display: flex;
    flex-direction: column;
  }
  .aboutme-image {
    max-width: 370px;  
  } 
  .aboutme-info {
    margin-top: 0px;
    width: 100%;
  }
  .aboutme-title {  
    font-size: 28px;    
  }
}
